<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
                android:name=".MyPushBroadcastReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.appoxee.PUSH_OPENED" />
                <action android:name="com.appoxee.PUSH_RECEIVED" />
                <action android:name="com.appoxee.PUSH_DISMISSED" />
                <action android:name="com.appoxee.BUTTON_CLICKED" />

                <category android:name="${applicationId}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </receiver>
        <activity
                android:name=".HelperActivity"
                android:exported="true"
                android:theme="@style/HelperActivityStyle">

            <intent-filter android:label="mapp">

                    <data android:scheme="apx" />
                    <data android:host="deeplink" />

                    <action android:name="com.appoxee.VIEW_DEEPLINK" />

                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <category android:name="${applicationId}" />

            </intent-filter>

        </activity>

        <activity
                android:name=".ActivityListener"
                android:exported="false"
                android:theme="@style/HelperActivityStyle">
            <intent-filter
            >
                <action android:name="com.mapp.RICH_PUSH" />
                <category android:name="${applicationId}" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
  